*.mp4 filter=lfs diff=lfs merge=lfs -text
public/video/prospero-video.mp4 -filter -diff -merge -text
public/video/blogs/psfx/money-expo-01.mp4 -filter -diff -merge -text
public/video/blogs/psfx/money-expo-02.mp4 -filter -diff -merge -text
public/video/blogs/prospero/khalifa.mp4 -filter -diff -merge -text
